// Add for each process an option to change the parameters. Default is the set params
params.nproc = 1 //* @input @description:"How many processes to use for each step. Default 1"
params.edit_filter_quality_params = "no" //* @dropdown @options:"yes","no"  @show_settings:"filter_seq"
params.edit_mask_primer_params = "no" //* @dropdown @options:"yes","no" @show_settings:"MaskPrimers"
params.edit_pair_sequence_pre_consensus_params = "no" //* @dropdown @options:"yes","no" @show_settings:"pair_seq" @description:"If edit true, then parametrs in the pre_consensus tab should be edited"
params.edit_build_consensus_params = "no" //* @dropdown @options:"yes","no" @show_settings:"build_consensus"
params.edit_pair_sequence_post_consensus_params = "no" //* @dropdown @options:"yes","no" @show_settings:"pair_seq" @description:"If edit true, then parametrs in the post_consensus tab should be edited"
params.edit_assemble_pairs_params = "no" //* @dropdown @options:"yes","no" @show_settings:"assemble_pairs"
params.edit_parse_headers_params = "no"  //* @dropdown @options:"yes","no" @show_settings:"parse_header" @description:"If edit true, then parametrs in the parse_header tab should be edited"
params.edit_collapse_seq_params = "no"  //* @dropdown @options:"yes","no" @show_settings:"collapse_seq"
params.edit_split_seq_params = "no"  //* @dropdown @options:"yes","no" @show_settings:"split_seq"
params.edit_parse_header_table = "no"  //* @dropdown @options:"yes","no" @show_settings:"parse_headers" @description:"If edit true, then parametrs in the parse_header_table tab should be edited"
params.edit_parse_log_AP_params = "no" //* @dropdown @options:"yes","no" @show_settings:"parse_log_AP"
//* autofill
if ($HOSTNAME == "default"){
    $DOCKER_IMAGE = "immcantation/suite:4.3.0"
    $DOCKER_OPTIONS = "-v /work:/work"

}

//* platform
if ($HOSTNAME == "ig03.lnx.biu.ac.il"){
    $DOCKER_IMAGE = "immcantation/suite:4.3.0"
    $DOCKER_OPTIONS = "-v /work:/work"
	$CPU  = 48
    $MEMORY = 300 
}
//* platform


//* autofill


// Process Parameters for params.Filter_Sequence_Quality_filter_seq_quality:
params.Filter_Sequence_Quality_filter_seq_quality.method = "quality"
params.Filter_Sequence_Quality_filter_seq_quality.nproc = params.nproc
params.Filter_Sequence_Quality_filter_seq_quality.q = "20"
// Process Parameters for Mask_Primer_MaskPrimers:
params.Mask_Primer_MaskPrimers.nproc = params.nproc
params.Mask_Primer_MaskPrimers.method = ["score","score"]
params.Mask_Primer_MaskPrimers.mode = ["cut","mask"]
params.Mask_Primer_MaskPrimers.primer_field = ["PRIMER","PRIMER"]
params.Mask_Primer_MaskPrimers.barcode_field = ["BARCODE","BARCODE"]
params.Mask_Primer_MaskPrimers.start = [0,0]
params.Mask_Primer_MaskPrimers.barcode = ["true","false"]
params.Mask_Primer_MaskPrimers.umi_length = [15,0]
params.Mask_Primer_MaskPrimers.maxerror = [0.2,0.2]
params.Mask_Primer_MaskPrimers.revpr = ["false","false"]
params.Mask_Primer_MaskPrimers.failed = "true"
params.Mask_Primer_MaskPrimers.R1_primers = "${projectDir}/primers/Stern2014_CPrimers.fasta"
params.Mask_Primer_MaskPrimers.R2_primers = "${projectDir}/primers/Stern2014_VPrimers.fasta"
// Process Parameters for params.Pair_Sequence_pre_consensus_pair_seq:
params.Pair_Sequence_pre_consensus_pair_seq.coord = "sra"
params.Pair_Sequence_pre_consensus_pair_seq.act = "none"
params.Pair_Sequence_pre_consensus_pair_seq.copy_fields_1 = "BARCODE"
params.Pair_Sequence_pre_consensus_pair_seq.copy_fields_2 = ""
params.Pair_Sequence_pre_consensus_pair_seq.nproc = params.nproc
// Process Parameters for params.Build_Consensus_build_consensus:
params.Build_Consensus_build_consensus.failed = "false"
params.Build_Consensus_build_consensus.nproc = params.nproc
params.Build_Consensus_build_consensus.barcode_field = ["BARCODE","BARCODE"]
params.Build_Consensus_build_consensus.primer_field = ["PRIMER","PRIMER"]
params.Build_Consensus_build_consensus.act = ["none","none"]
params.Build_Consensus_build_consensus.mincount = [1,1]
params.Build_Consensus_build_consensus.minqual = [0,0]
params.Build_Consensus_build_consensus.minfreq = [0.6,0.6]
params.Build_Consensus_build_consensus.maxerror = [0.1,0.1]
params.Build_Consensus_build_consensus.prcons = [0.6,"none"]
params.Build_Consensus_build_consensus.maxgap = [0.5,0.5]
params.Build_Consensus_build_consensus.maxdiv = ["none","none"]
params.Build_Consensus_build_consensus.dep = ["false","false"]
// Process Parameters for params.Pair_Sequence_post_consensus_pair_seq:
params.Pair_Sequence_post_consensus_pair_seq.coord = "presto"
params.Pair_Sequence_post_consensus_pair_seq.act = "none"
params.Pair_Sequence_post_consensus_pair_seq.copy_fields_1 = "PRCONS"
params.Pair_Sequence_post_consensus_pair_seq.copy_fields_2 = ""
params.Pair_Sequence_post_consensus_pair_seq.nproc = params.nproc
// Process Parameters for params.Assemble_pairs_assemble_pairs:
params.Assemble_pairs_assemble_pairs.method = "align"
params.Assemble_pairs_assemble_pairs.coord = "presto"
params.Assemble_pairs_assemble_pairs.rc = "tail"
params.Assemble_pairs_assemble_pairs.head_fields_R1 = "CONSCOUNT"
params.Assemble_pairs_assemble_pairs.head_fields_R2 = "CONSCOUNT PRCONS"
params.Assemble_pairs_assemble_pairs.failed = "false"
params.Assemble_pairs_assemble_pairs.fasta = "false"
params.Assemble_pairs_assemble_pairs.nproc = params.nproc
params.Assemble_pairs_assemble_pairs.alpha = 0.00001
params.Assemble_pairs_assemble_pairs.maxerror = 0.3
params.Assemble_pairs_assemble_pairs.minlen = 8
params.Assemble_pairs_assemble_pairs.maxlen = 1000
params.Assemble_pairs_assemble_pairs.scanrev = "false"
params.Assemble_pairs_assemble_pairs.minident = 0.5
params.Assemble_pairs_assemble_pairs.evalue = 0.00001
params.Assemble_pairs_assemble_pairs.maxhits = 100
params.Assemble_pairs_assemble_pairs.fill = "false"
params.Assemble_pairs_assemble_pairs.gap = 0
// Process Parameters for params.Assemble_pairs_parse_log_AP:
params.Assemble_pairs_parse_log_AP.field_to_parse = "ID REFID LENGTH OVERLAP GAP ERROR IDENTITY PVALUE EVALUE1 EVALUE2"
// Process Parameters for params.Parse_header_parse_headers:
params.Parse_header_parse_headers.method = "collapse"
params.Parse_header_parse_headers.act = "min"
params.Parse_header_parse_headers.args = "-f CONSCOUNT"
params.collapse_sequences_collapse_seq.nproc = params.nproc
// Process Parameters for params.edit_collapse_seq_params:
params.collapse_sequences_collapse_seq.act = "sum"
params.collapse_sequences_collapse_seq.inner = "true"
params.collapse_sequences_collapse_seq.uf = "PRCONS"
params.collapse_sequences_collapse_seq.cf = "CONSCOUNT"
params.collapse_sequences_collapse_seq.nproc = params.nproc
// Process Parameters for params.split_sequences_split_seq:
params.split_sequences_split_seq.field = "CONSCOUNT"
params.split_sequences_split_seq.num = 2
params.collapse_sequences_collapse_seq.nproc = params.nproc
// Process Parameters for params.Parse_header_table_parse_headers:
params.Parse_header_table_parse_headers.method = "table"
params.Parse_header_table_parse_headers.act = "min"
params.Parse_header_table_parse_headers.args = "-f ID CREGION CONSCOUNT DUPCOUNT"
params.collapse_sequences_collapse_seq.nproc = params.nproc
